.qotd{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qotd h1{
    font-size: 4rem;
    font-weight: 900;
}
.qotd button{
    padding: 2rem;
    color: white;
    background-color: rgb(1, 0, 68);
    width: 20%;    
    transition: all .3s;
}
.qotd button:hover{
    background-color: rgb(1, 85, 1);
}
.qotd p{
    font-size: 2rem;
    text-align: center;
    transition: all 1s;
}